@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=JetBrains+Mono:wght@400;700&family=Playfair+Display:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

@import "tailwindcss";


body {
  font-family: "JetBrains Mono", monospace;
}


.xanh-mono-regular-italic {
  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

@theme {
  --color-accent: #34d399;
  --color-accent-green: #34d399;
}
